<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="modelTemplates/head :: headCode"></th:block>
    <title>Search teams</title>
</head>

<body class="bg">

<th:block th:insert="modelTemplates/navbar :: navbarCode"></th:block>
<br>

<div class="text-white text-center mt-5">
    <h1>Search for <span style="color: chartreuse"> Teams</span> by:</h1><br><br>
</div>

<div class="container">
    <table class="table table-borderless text-center text-white">
        <tbody>
        <tr>
            <td>
                <div class="d-inline-block">
                    <form action="#" th:action="@{/team/results/byCountry}" th:object="${team}" method="POST"
                          class="form-horizontal" enctype="multipart/form-data">
                        <div class="form-group">
                            <h2>Country</h2>
                        </div>
                        <div class="form-group">
                            <input type="text" th:field="*{strCountry}" class="form-control form-control-lg"
                                   placeholder="Enter country">
                        </div>
                        <div class="form-group">
                            <div class="col-auto pb-3">
                                <button type="submit" class="btn btn-secondary btn-lg font-weight-bold"><i
                                        class="fas fa-search mr-2"></i>Search
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </td>
            <td>
                <br><br>OR
            </td>
            <td>
                <div class="d-inline-block">
                    <form action="#" th:action="@{/team/results/byLeague}" th:object="${team}" method="POST"
                          class="form-horizontal" enctype="multipart/form-data">
                        <div class="form-group">
                            <h2>League</h2>
                        </div>
                        <div class="form-group">
                            <input type="text" th:field="*{strLeague}" class="form-control form-control-lg"
                                   placeholder="Enter league name">
                        </div>
                        <div class="form-group">
                            <div class="col-auto pb-3">
                                <button type="submit" class="btn btn-secondary btn-lg font-weight-bold"><i
                                        class="fas fa-search mr-2"></i>Search
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

            </td>
            <td>
                <br><br>OR
            </td>
            <td>
                <div class="d-inline-block">
                    <form action="#" th:action="@{/team/results/byName}" th:object="${team}" method="POST"
                          class="form-horizontal" enctype="multipart/form-data">
                        <div class="form-group">
                            <h2>Name</h2>
                        </div>
                        <div class="form-group">
                            <input type="text" th:field="*{strTeam}" class="form-control form-control-lg"
                                   placeholder="Enter team name">
                        </div>
                        <div class="form-group">
                            <div class="col-auto pb-3">
                                <button type="submit" class="btn btn-secondary btn-lg font-weight-bold"><i
                                        class="fas fa-search mr-2"></i>Search
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>