<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="modelTemplates/head :: headCode"></th:block>
    <title>Search table</title>
</head>

<body class="text-center text-white bg">

<th:block th:insert="modelTemplates/navbar :: navbarCode"></th:block>
<br>

<div class="mt-5">
    <h1>Search for <span style="color: chartreuse"> Table</span> by:</h1><br><br>
</div>

<div class="d-inline-block">
    <form action="#" th:action="@{/table/results(league=${league}, season=${season})}" method="GET"
          class="form-horizontal" enctype="multipart/form-data">
        <div class="form-group">
            <h2>League and Season</h2>
        </div>
        <div class="form-group row">
            <div class="col">
                <input type="text" th:name="league" th:value="${league}" class="form-control form-control-lg"
                       placeholder="Enter league name">
            </div>
        </div>
        <div class="form-group">
            <select class="form-control form-control-lg mx-auto w-100" onfocus='this.size=5;'
                    onblur='this.size=1;' onchange='this.size=1; this.blur();' th:name="season"/>
            <option value="" th:selected="selected" th:disabled="disabled">Choose season...</option>
            <option th:object="${currentYear}" th:each="y : ${#numbers.sequence(2000, currentYear)}"
                    th:value="|${y}-${y+1}|" th:text="|${y}-${y+1}|"></option>
            </select>
        </div>
        <div class="form-group">
            <div class="col-auto pb-3">
                <button type="submit" class="btn btn-secondary btn-lg font-weight-bold"><i
                        class="fas fa-search mr-2"></i>Search
                </button>
            </div>
        </div>
    </form>
</div>
</body>
</html>