<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="modelTemplates/head :: headCode"></th:block>
    <title>Search matches</title>
</head>

<body class="bg">

<th:block th:insert="modelTemplates/navbar :: navbarCode"></th:block>
<br>

<div class="text-white text-center mt-5">
    <h1>Search for <span style="color: chartreuse"> Matches</span> by:</h1><br><br>
</div>

<div class="container">
    <table class="table table-borderless text-center text-white">
        <tbody>
        <tr>
            <td class="align-top">
                <div class="d-inline-block">
                    <form action="#" th:action="@{/match/results/byTeams}" th:object="${match}" method="POST"
                          class="form-horizontal" enctype="multipart/form-data">
                        <div class="form-group">
                            <h2>Teams</h2>
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                <input type="text" th:field="*{strHomeTeam}" class="form-control form-control-lg"
                                       placeholder="Enter home team">
                            </div>
                            <h6 class="mt-3">vs</h6>
                            <div class="col">
                                <input type="text" th:field="*{strAwayTeam}" class="form-control form-control-lg"
                                       placeholder="Enter away team">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-auto pb-3">
                                <button type="submit" class="btn btn-secondary btn-lg font-weight-bold"><i
                                        class="fas fa-search mr-2"></i>Search
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </td>
            <td class="py-5">
                <span class="mx-5">OR</span>
            </td>
            <td>
                <div class="d-inline-block">
                    <form action="#" th:action="@{/match/results/byTeamsAndSeason}" th:object="${match}" method="POST"
                          class="form-horizontal" enctype="multipart/form-data">
                        <div class="form-group">
                            <h2>Teams and Season</h2>
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                <input type="text" th:field="*{strHomeTeam}" class="form-control form-control-lg"
                                       placeholder="Enter home team">
                            </div>
                            <h6 class="mt-3">vs</h6>
                            <div class="col">
                                <input type="text" th:field="*{strAwayTeam}" class="form-control form-control-lg"
                                       placeholder="Enter away team">
                            </div>
                        </div>
                        <div class="form-group">
                            <select class="form-control form-control-lg mx-auto w-50" onfocus='this.size=5;'
                                    onblur='this.size=1;' onchange='this.size=1; this.blur();' th:field="*{strSeason}"/>
                            <option value="" th:selected="selected" th:disabled="disabled">Choose season...</option>
                            <option th:object="${currentYear}" th:each="y : ${#numbers.sequence(2000, currentYear)}"
                                    th:value="|${y}-${y+1}|" th:text="|${y}-${y+1}|"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="col-auto pb-3">
                                <button type="submit" class="btn btn-secondary btn-lg font-weight-bold"><i
                                        class="fas fa-search mr-2"></i>Search
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script>
    $(function () {
        $('ul.navbar-nav > li > a').each(function () {
            if (window.location.pathname.indexOf($(this).attr('href')) > -1) {
                $(this).closest('li').addClass('active');
                return false;
            }
        });
    });
</script>

</body>
</html>