<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--    External css-->
    <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>

    <!--    Icons-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <!--    Bootrstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>League</title>
</head>

<body class="text-white bg">

<nav class="navbar navbar-expand-lg navbar-dark bg-success lg-txt">
    <a class="nav-link mr-5" href="#">
        <img src="../../static/img/logo.jpg" th:src="@{/img/logo.jpg}" alt="logo" class="img-sm">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse bg-success" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item active nav-item-mr-p">
                <a class="nav-link" href="#">Leagues <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item nav-item-mr-p">
                <a class="nav-link" href="#">Teams</a>
            </li>
            <li class="nav-item nav-item-mr-p">
                <a class="nav-link" href="#">Players</a>
            </li>
            <li class="nav-item nav-item-mr-p">
                <a class="nav-link" href="#">Matches</a>
            </li>
            <li class="nav-item nav-item-mr-p">
                <a class="nav-link" href="#">Tables</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item border-left px-3">
                <a class="nav-link" href="#">Log out</a>
            </li>
        </ul>
    </div>
</nav>

<br>
<div class="container-fluid" th:object="${league}">
    <div class="row">
        <div class="col-md-2 text-center">
            <div class="pr-2">
                <a onclick="history.back()" class="btn btn-secondary btn-lg font-weight-bold mb-3 px-4">
                    <i class="fas fa-chevron-left pr-2"></i> Back
                </a>
            </div>

            <div class="belt border border-secondary">
                <b class="border-bottom">Alternative Names</b><br>
                <p th:text="*{getStrLeagueAlternate()}" id="altNames" class="mt-2"></p>
                <br><br>
                <b class="border-bottom">Established</b><br>
                <p id="formedYear" th:text="*{getIntFormedYear()}" class="mt-2"></p>
                <br><br>
                <b class="border-bottom">Location</b><br>
                <p th:text="*{getStrCountry()}" class="mt-2"></p>
                <br><br>
                <b class="border-bottom">Gender</b><br>
                <p th:text="*{getStrGender()}" class="mt-2"></p>
                <br><br>
                <b class="border-bottom">Trophy Icon</b><br>
                <img th:src="*{getStrTrophy()}" class="img-sm img-fluid mt-4" alt="Trophy icon"
                     th:onerror="'this.src=\'' + @{/img/notFound.jpg} + '\';'">

            </div>
        </div>

        <div class="col-md-10 text-center pt-5">
            <div class="">
                <h1 class="display-3 font-weight-bold"><span style="color: chartreuse"
                                                             th:text="*{getStrLeague()}"></span>
                </h1>
                <br>
                <img th:src="*{getStrBadge()}" class="img-md" alt="League badge"
                     th:onerror="'this.src=\'' + @{/img/notFound.jpg} + '\';'">
            </div>

            <br><br>
            <div class="tight-margin">
                <h1>Description</h1>
                <br>
                <p class="text-justify first-line-ind" th:text="*{getStrDescriptionEN()}"
                   style="white-space: pre-wrap"></p>
            </div>
            <br><br>

            <div class="tight-margin">
                <h1>Teams</h1>
                <br>
                <table class="table table-borderless text-white">
                    <tbody class="filterBody">
                    <th:block th:with="colCount=${4}">
                        <tr th:each="r : ${#numbers.sequence(0, teamsByLeague.size(), colCount)}">
                            <td th:each="c : ${#numbers.sequence(0, colCount - 1)}"
                                th:if="${r + c &lt; teamsByLeague.size()}" th:object="${teamsByLeague.get(r + c)}"
                                style="width:25%">
                                <a th:href="@{/team/{id}(id=${teamsByLeague.get(r + c).getIdTeam()})}"
                                   class="text-white">
                                    <img th:src="*{getStrTeamBadge()} " class="img-extra-sm" alt="Team badge"
                                         th:onerror="'this.src=\'' + @{/img/notFound.jpg} + '\';'">
                                    <br><br>
                                    <h4 th:text="*{getStrTeam()}"></h4>
                                </a>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
            <br> <br>

            <div>
                <h1>Table</h1>
                <h2 th:text="|(current season: ${league.getStrCurrentSeason()})|"></h2>
                <br><br>
                <h3 th:if="${tableByLeague == null}" class="text-danger text-center">Not found</h3>
                <div class="table table-responsive" th:if="${tableByLeague != null}">
                    <table class="table-bordered styled-table w-50 ">
                        <thead>
                        <tr>
                            <th scope="col" style="width: 10%">#</th>
                            <th scope="col" style="width: 35%">Club</th>
                            <th scope="col" style="width: 10%">M</th>
                            <th scope="col" style="width: 10%">W</th>
                            <th scope="col" style="width: 10%">D</th>
                            <th scope="col" style="width: 10%">L</th>
                            <th scope="col" style="width: 15%">Points</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="team, iterStat : ${tableByLeague}">
                            <th scope="row" th:text="${iterStat.count}"></th>
                            <td th:text="${team.getName()}"></td>
                            <td th:text="${team.getPlayed()}"></td>
                            <td th:text="${team.getWin()}"></td>
                            <td th:text="${team.getDraw()}"></td>
                            <td th:text="${team.getLoss()}"></td>
                            <td th:text="${team.getTotal()}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br><br><br><br><br><br>

            <div class="tight-margin">
                <h1>Social media</h1>
                <br>
                <div class="d-flex justify-content-center">
                    <div class="mx-4">
                        <a th:href="|https://${league.getStrWebsite()}|">
                            <img src="../../static/img/socialMedia/website.png"
                                 th:src="@{/img/socialMedia/website.png}" alt="Website icon" class="img-fluid">
                        </a>
                    </div>
                    <div class="mx-4">
                        <a th:href="|https://${league.getStrFacebook()}|">
                            <img src="../../static/img/socialMedia/facebook.png"
                                 th:src="@{/img/socialMedia/facebook.png}" alt="Facebook icon" class="img-fluid">
                        </a>
                    </div>
                    <div class="mx-4">
                        <a th:href="|https://${league.getStrTwitter()}|">
                            <img src="../../static/img/socialMedia/twitter.png"
                                 th:src="@{/img/socialMedia/twitter.png}" alt="Twitter icon" class="img-fluid">
                        </a>
                    </div>
                    <div class="mx-4">
                        <a th:href="|https://${league.getStrYoutube()}|">
                            <img src="../../static/img/socialMedia/youtube.png"
                                 th:src="@{/img/socialMedia/youtube.png}" alt="Youtube icon" class="img-fluid">
                        </a>
                    </div>

                </div>
            </div>
            <br><br>
        </div>
    </div>
</div>

<script type="text/javascript" src="../../static/js/teamAndLeagueScript.js" th:src="@{/js/teamAndLeagueScript.js}"></script>

</body>
</html>