<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="modelTemplates/head :: headCode"></th:block>
    <title>Match</title>
</head>

<body class="text-white bg">

<th:block th:insert="modelTemplates/navbar :: navbarCode"></th:block>
<br>

<div class="container-fluid mb-5" th:object="${match}">
    <div class="row">
        <div class="col-lg-2 text-center">
            <div class="pr-5">
                <a onclick="history.back()" class="btn btn-secondary btn-lg font-weight-bold mb-3 px-4">
                    <i class="fas fa-chevron-left pr-2"></i> Back
                </a>
            </div>

            <div class="belt mr-5 border border-secondary">
                <b class="border-bottom mb-1">Date</b><br>
                <p th:text="*{getDateEvent()}" class="mb-0 mt-2"></p>
                <p th:text="${#strings.substring(match.getStrTime(),0,5)}"></p>
                <br><br>
                <b class="border-bottom">League</b><br>
                <p th:text="*{getStrLeague()}" class="mt-2"></p>
                <br><br>
                <b class="border-bottom">Season</b><br>
                <p th:text="*{getStrSeason()}" class="mt-2"></p>
                <br><br>
                <b class="border-bottom">Round</b><br>
                <p th:text="*{getIntRound()}" class="mt-2" id="round"></p>
            </div>
        </div>

        <div class="col-lg-10 pl-0">
            <div class="col text-center"><br><br>
                <h1 class="display-4 font-weight-bold pb-5">
                    <span style="color: chartreuse" th:text="*{getStrHomeTeam()}"></span>
                    <span class="px-4"> vs </span>
                    <span style="color: chartreuse" th:text="*{getStrAwayTeam()}"></span>
                </h1>
            </div>
            <div class="row mx-5">
                <div class="col text-center" th:object="${homeTeam}">
                    <a th:href="@{/team/{id}(id=${homeTeam.getIdTeam()})}" class="text-white">
                        <img th:src="*{getStrTeamBadge()}" class="img-sm" alt="Home team badge"
                             th:onerror="'this.src=\'' + @{/img/notFound.jpg} + '\';'">
                    </a>
                    <br><br><br>
                    <th:block th:each="homeGoal : ${homeGoalList}">
                        <h4 th:if="${homeGoal != ''}" th:text="${homeGoal}"></h4>
                    </th:block>
                </div>
                <div class="col text-center mx-0" id="score"><br>
                    <h1 class="display-2 font-weight-bold" th:text="|*{getIntHomeScore()} : *{getIntAwayScore()}|"></h1>
                </div>

                <div class="col text-center" th:object="${awayTeam}">
                    <a th:href="@{/team/{id}(id=${awayTeam.getIdTeam()})}" class="text-white">
                        <img th:src="*{getStrTeamBadge()}" class="img-sm" alt="Away team badge"
                             th:onerror="'this.src=\'' + @{/img/notFound.jpg} + '\';'">
                    </a>
                    <br><br><br>
                    <th:block th:each="awayGoal : ${awayGoalList}">
                        <h4 th:if="${awayGoal != ''}" th:text="${awayGoal}"></h4>
                    </th:block>
                </div>
            </div>
            <div class="row mx-5">
                <div class="col text-center">
                    <br><br>
                    <h2>Lineup</h2>
                    <p th:text="|*{getStrHomeLineupGoalkeeper()}; *{getStrHomeLineupDefense()}
                        *{getStrHomeLineupMidfield()} *{getStrHomeLineupForward()}|" id="homeLineup"></p>
                    <h2>Substitutes</h2>
                    <p th:text="*{getStrHomeLineupSubstitutes()}" id="homeSubstitutes"></p>
                </div>

                <div class="col"></div>

                <div class="col text-center">
                    <br><br>
                    <h2>Lineup</h2>
                    <p th:text="|*{getStrAwayLineupGoalkeeper()}; *{getStrAwayLineupDefense()}
                        *{getStrAwayLineupMidfield()} *{getStrAwayLineupForward()}|" id="awayLineup"></p>
                    <h2>Substitutes</h2>
                    <p th:text="*{getStrAwayLineupSubstitutes()}" id="awaySubstitutes"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/matchScript.js}"></script>

</body>
</html>