<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--    External css-->
    <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>

    <!--    Icons-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <!--    Bootrstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>Match</title>
</head>

<body class="text-white bg">

<nav class="navbar navbar-expand-lg navbar-dark bg-success lg-txt">
    <a class="nav-link mr-5" href="#">
        <img src="../../static/img/logo.jpg" th:src="@{/img/logo.jpg}" alt="logo" class="img-sm">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse bg-success" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item nav-item-mr-p">
                <a class="nav-link" href="#">Leagues </a>
            </li>
            <li class="nav-item nav-item-mr-p">
                <a class="nav-link" href="#">Teams </a>
            </li>
            <li class="nav-item nav-item-mr-p">
                <a class="nav-link" href="#">Players </a>
            </li>
            <li class="nav-item active nav-item-mr-p">
                <a class="nav-link" href="#">Matches <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item nav-item-mr-p">
                <a class="nav-link" href="#">Tables </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item border-left px-3">
                <a class="nav-link" href="#">Log out</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<div class="container-fluid mb-5" th:object="${match}">
    <div class="row">
        <div class="col-lg-2 text-center">
            <div class="pr-5">
                <a onclick="history.back()" class="btn btn-secondary btn-lg font-weight-bold mb-3 px-4">
                    <i class="fas fa-chevron-left pr-2"></i> Back
                </a>
            </div>

            <div class="belt mr-5 border border-secondary">
                <b class="border-bottom mb-1">Date</b><br>
                <p th:text="*{getDateEvent()}" class="mb-0 mt-2"></p>
                <p th:text="${#strings.substring(match.getStrTime(),0,5)}"></p>
                <br><br>
                <b class="border-bottom">League</b><br>
                <p th:text="*{getStrLeague()}" class="mt-2"></p>
                <br><br>
                <b class="border-bottom">Season</b><br>
                <p th:text="*{getStrSeason()}" class="mt-2"></p>
                <br><br>
                <b class="border-bottom">Round</b><br>
                <p th:text="*{getIntRound()}" class="mt-2" id="round"></p>
            </div>
        </div>

        <div class="col-lg-10 pl-0">
            <div class="col text-center"><br><br>
                <h1 class="display-4 font-weight-bold pb-5">
                    <span style="color: chartreuse" th:text="*{getStrHomeTeam()}"></span>
                    <span class="px-4"> vs </span>
                    <span style="color: chartreuse" th:text="*{getStrAwayTeam()}"></span>
                </h1>
            </div>
            <div class="row mx-5">
                <div class="col text-center" th:object="${homeTeam}">
                    <a th:href="@{/team/{id}(id=${homeTeam.getIdTeam()})}" class="text-white">
                        <img th:src="*{getStrTeamBadge()}" class="img-sm" alt="Home team badge"
                             th:onerror="'this.src=\'' + @{/img/notFound.jpg} + '\';'">
                    </a>
                    <br><br><br>
                    <th:block th:each="homeGoal : ${homeGoalList}">
                        <h4 th:if="${homeGoal != ''}" th:text="${homeGoal}"></h4>
                    </th:block>
                </div>
                <div class="col text-center mx-0" id="score"><br>
                    <h1 class="display-2 font-weight-bold" th:text="|*{getIntHomeScore()} : *{getIntAwayScore()}|"></h1>
                </div>

                <div class="col text-center" th:object="${awayTeam}">
                    <a th:href="@{/team/{id}(id=${awayTeam.getIdTeam()})}" class="text-white">
                        <img th:src="*{getStrTeamBadge()}" class="img-sm" alt="Away team badge"
                             th:onerror="'this.src=\'' + @{/img/notFound.jpg} + '\';'">
                    </a>
                    <br><br><br>
                    <th:block th:each="awayGoal : ${awayGoalList}">
                        <h4 th:if="${awayGoal != ''}" th:text="${awayGoal}"></h4>
                    </th:block>
                </div>
            </div>
            <div class="row mx-5">
                <div class="col text-center">
                    <br><br>
                    <h2>Lineup</h2>
                    <p th:text="|*{getStrHomeLineupGoalkeeper()}; *{getStrHomeLineupDefense()}
                        *{getStrHomeLineupMidfield()} *{getStrHomeLineupForward()}|" id="homeLineup"></p>
                    <h2>Substitutes</h2>
                    <p th:text="*{getStrHomeLineupSubstitutes()}" id="homeSubstitutes"></p>
                </div>

                <div class="col"></div>

                <div class="col text-center">
                    <br><br>
                    <h2>Lineup</h2>
                    <p th:text="|*{getStrAwayLineupGoalkeeper()}; *{getStrAwayLineupDefense()}
                        *{getStrAwayLineupMidfield()} *{getStrAwayLineupForward()}|" id="awayLineup"></p>
                    <h2>Substitutes</h2>
                    <p th:text="*{getStrAwayLineupSubstitutes()}" id="awaySubstitutes"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="../../static/js/matchScript.js" th:src="@{/js/matchScript.js}"></script>

</body>
</html>