<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="modelTemplates/head :: headCode"></th:block>
    <link href="../../static/css/data.css" th:href="@{/css/data.css}" rel="stylesheet"/>
    <title>Match</title>
</head>

<body>
<th:block th:insert="modelTemplates/navbar :: navbarCode"></th:block>
<br>

<div class="container-fluid pb-5" th:object="${match}">
    <div class="row">
        <div class="col-lg-2">
            <div class="pr-5">
                <a onclick="history.back()" class="btn btn-secondary btn-lg back-btn">
                    <i class="fas fa-chevron-left"></i> Back
                </a>
            </div>

            <div class="belt mr-5 border border-secondary">
                <b class="border-bottom mb-1">Date</b><br>
                <p th:text="*{getDateEvent()}" class="mb-0"></p>
                <p th:text="${#strings.substring(match.getStrTime(),0,5)}"></p>
                <br><br>
                <b class="border-bottom">League</b><br>
                <p th:text="*{getStrLeague()}"></p>
                <br><br>
                <b class="border-bottom">Season</b><br>
                <p th:text="*{getStrSeason()}"></p>
                <br><br>
                <b class="border-bottom">Round</b><br>
                <p th:text="*{getIntRound()}" id="round"></p>
            </div>
        </div>

        <div class="col-lg-10 match-content">
            <div class="col match-head-div"><br><br>
                <h1>
                    <span class="color-chart" th:text="*{getStrHomeTeam()}"></span>
                    <span class="px-4"> vs </span>
                    <span class="color-chart" th:text="*{getStrAwayTeam()}"></span>
                </h1>
            </div>
            <div class="row">
                <div class="col" th:object="${homeTeam}">
                    <a th:href="@{/team/{id}(id=${homeTeam.getIdTeam()})}">
                        <img th:src="*{getStrTeamBadge()}" class="img-sm" alt="Home team badge"
                             th:onerror="'this.src=\'' + @{/img/notFound.jpg} + '\';'">
                    </a>
                    <br><br><br>
                    <th:block th:each="homeGoal : ${homeGoalList}">
                        <h4 th:if="${homeGoal != ''}" th:text="${homeGoal}"></h4>
                    </th:block>
                </div>
                <div class="col" id="score"><br>
                    <h1 th:text="|*{getIntHomeScore()} : *{getIntAwayScore()}|"></h1>
                </div>

                <div class="col" th:object="${awayTeam}">
                    <a th:href="@{/team/{id}(id=${awayTeam.getIdTeam()})}">
                        <img th:src="*{getStrTeamBadge()}" class="img-sm" alt="Away team badge"
                             th:onerror="'this.src=\'' + @{/img/notFound.jpg} + '\';'">
                    </a>
                    <br><br><br>
                    <th:block th:each="awayGoal : ${awayGoalList}">
                        <h4 th:if="${awayGoal != ''}" th:text="${awayGoal}"></h4>
                    </th:block>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <br><br>
                    <h2>Lineup</h2>
                    <p th:text="|*{getStrHomeLineupGoalkeeper()}; *{getStrHomeLineupDefense()}
                        *{getStrHomeLineupMidfield()} *{getStrHomeLineupForward()}|" id="homeLineup"></p>
                    <h2>Substitutes</h2>
                    <p th:text="*{getStrHomeLineupSubstitutes()}" id="homeSubstitutes"></p>
                </div>

                <div class="col"></div>

                <div class="col">
                    <br><br>
                    <h2>Lineup</h2>
                    <p th:text="|*{getStrAwayLineupGoalkeeper()}; *{getStrAwayLineupDefense()}
                        *{getStrAwayLineupMidfield()} *{getStrAwayLineupForward()}|" id="awayLineup"></p>
                    <h2>Substitutes</h2>
                    <p th:text="*{getStrAwayLineupSubstitutes()}" id="awaySubstitutes"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/matchScript.js}"></script>

</body>
</html>