<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="modelTemplates/head :: headCode"></th:block>
    <title>Table</title>
</head>

<body class="text-white bg">

<th:block th:insert="modelTemplates/navbar :: navbarCode"></th:block>
<br>

<div class="container-fluid pb-3">
    <div class="row" th:object="${league}">
        <div class="col pt-4 pl-5">
            <a onclick="history.back()" class="btn btn-secondary btn-lg font-weight-bold mb-3 px-4">
                <i class="fas fa-chevron-left pr-2"></i> Back
            </a>
        </div>
        <div class="col text-center">
            <br><br><br>
            <a th:href="@{/league/{id}(id=*{getIdLeague()})}" class="text-white">
                <h1 class="d-inline"><span style="color: chartreuse" th:text="*{getStrLeague()}"></span></h1>
            </a>
            <h1 th:text="${season}"></h1>
        </div>
        <div class="col text-left">
            <a th:href="@{/league/{id}(id=*{getIdLeague()})}" class="text-white">
                <img th:src="*{getStrBadge()}" class="img-sm rounded-circle img-fluid" alt="League badge"
                     th:onerror="'this.src=\'' + @{/img/notFound.jpg} + '\';'">
            </a>
        </div>
    </div>
    <br><br>

    <div class="table table-responsive">
        <table class="table-bordered styled-table w-50 ">
            <thead>
            <tr>
                <th scope="col" style="width: 10%">#</th>
                <th scope="col" style="width: 35%">Club</th>
                <th scope="col" style="width: 10%">M</th>
                <th scope="col" style="width: 10%">W</th>
                <th scope="col" style="width: 10%">D</th>
                <th scope="col" style="width: 10%">L</th>
                <th scope="col" style="width: 15%">Points</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="team, iterStat : ${table}">
                <th scope="row" th:text="${iterStat.count}"></th>
                <td>
                    <a th:href="@{/team/{id}(id=${team.getTeamid()})}" th:text="${team.getName()}"
                       class="text-dark"></a>
                </td>
                <td th:text="${team.getPlayed()}"></td>
                <td th:text="${team.getWin()}"></td>
                <td th:text="${team.getDraw()}"></td>
                <td th:text="${team.getLoss()}"></td>
                <td th:text="${team.getTotal()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>