<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="modelTemplates/head :: headCode"></th:block>
    <link href="../../static/css/data.css" th:href="@{/css/data.css}" rel="stylesheet"/>
    <title>Table</title>
</head>

<body>
<th:block th:insert="modelTemplates/navbar :: navbarCode"></th:block>
<br>

<div class="container-fluid pb-3" th:object="${league}">
    <div class="col back-div">
        <a onclick="history.back()" class="btn btn-secondary btn-lg back-btn">
            <i class="fas fa-chevron-left"></i> Back
        </a>
    </div>
    <div class="col table-head">
        <div class="d-inline-block px-5">
            <a th:href="@{/league/{id}(id=*{getIdLeague()})}">
                <h1 class="d-inline"><span class="color-chart" th:text="*{getStrLeague()}"></span></h1>
            </a>
            <h1 th:text="${season}"></h1>
        </div>

        <div class="d-inline-block">
            <a th:href="@{/league/{id}(id=*{getIdLeague()})}">
                <img th:src="*{getStrBadge()}" class="img-sm img-fluid" alt="League badge"
                     th:onerror="'this.src=\'' + @{/img/notFound.jpg} + '\';'">
            </a>
        </div>

    </div>
    <br><br>

    <div class="table table-responsive">
        <table class="table-bordered styled-table w-50 ">
            <thead>
            <tr>
                <th scope="col" style="width: 10%">#</th>
                <th scope="col" style="width: 35%">Club</th>
                <th scope="col" style="width: 10%">M</th>
                <th scope="col" style="width: 10%">W</th>
                <th scope="col" style="width: 10%">D</th>
                <th scope="col" style="width: 10%">L</th>
                <th scope="col" style="width: 15%">Points</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="team, iterStat : ${table}">
                <th scope="row" th:text="${iterStat.count}"></th>
                <td>
                    <a th:href="@{/team/{id}(id=${team.getIdTeam()})}" th:text="${team.getStrTeam()}"
                       class="text-dark"></a>
                </td>
                <td th:text="${team.getIntPlayed()}"></td>
                <td th:text="${team.getIntWin()}"></td>
                <td th:text="${team.getIntDraw()}"></td>
                <td th:text="${team.getIntLoss()}"></td>
                <td th:text="${team.getIntPoints()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>