<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="modelTemplates/head :: headCode"></th:block>
    <link href="../../static/css/user.css" th:href="@{/css/user.css}" rel="stylesheet"/>
    <title>Login</title>
</head>

<body>
<div class="jumbotron">
    <img src="../../static/img/logo.jpg" th:src="@{/img/logo.jpg}" alt="logo" class="img-fluid">
</div>

<div class="container-fluid">
    <div class="div-form border border-white low-width">
        <form name="f" th:action="@{/login}" method="POST" class="form-horizontal"
              enctype="multipart/form-data">

            <div class="user-head">
                <h2 class="bg-success"> LOGIN </h2>
            </div>

            <div th:if="${param.error}" class="alert alert-danger">
                Invalid username or password.
            </div>

            <div th:if="${param.logout}" class="alert alert-success">
                You have been logged out.
            </div>

            <div class="form-group log-input-div">
                <div class="input-group">
                    <div class="input-group-prepend">
                    <span class="input-group-text">
                         <span class="fa fa-user"></span>
                     </span>
                        <input type="text" class="form-control form-control-lg" id="inputUsername"
                               name="username" placeholder="Username">
                    </div>
                </div>
            </div>

            <div class="form-group log-input-div pb-2">
                <div class="input-group">
                    <div class="input-group-prepend">
                   <span class="input-group-text">
                         <span class="fa fa-lock"></span>
                     </span>
                        <input type="password" class="form-control form-control-lg" id="inputPassword"
                               name="password" placeholder="Password">
                    </div>
                </div>
            </div>

            <div class="form-group login-nav">
                <div class="col-auto">
                    <button type="submit" class="btn btn-success btn-lg">Login</button>
                    <br>
                    <span class="d-inline text-dark">Need an account?</span>
                    <a class="d-inline link-color" th:href="@{/registration}"> Register now</a>
                </div>
            </div>

        </form>
    </div>
</div>

</body>
</html>