<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="modelTemplates/head :: headCode"></th:block>
    <link href="../../static/css/user.css" th:href="@{/css/user.css}" rel="stylesheet"/>
    <title>Registration</title>
</head>

<body>
<div class="jumbotron">
    <img src="../../static/img/logo.jpg" th:src="@{/img/logo.jpg}" alt="logo" class="img-fluid">
</div>

<div class="container-fluid">
    <div class="div-form border border-white md-width">
        <form action="#" th:action="@{/registration}" th:object="${user}" method="POST" class="form-horizontal"
              enctype="multipart/form-data">
            <div class="user-head">
                <h2 class="bg-success"> REGISTRATION </h2>
            </div>

            <div class="alert alert-danger" th:if="${occurredUserException}">
                <p th:text="${exceptionUserMessage}"></p>
            </div>

            <div class="alert alert-danger" th:if="${occurredPasswordException}">
                <p th:text="${exceptionPasswordMessage}"></p>
            </div>

            <div class="form-group row user-data">
                <div class="input-group">
                    <div class="input-group-prepend col-8">
                    <span class="input-group-text">
                         <span class="fa fa-user"></span>
                     </span>
                        <input type="text" th:field="*{username}" class="form-control form-control-lg"
                               id="inputUsername" name="username" placeholder="Username" th:errorclass="error-red-bd">
                    </div>
                </div>
                <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error"></p>
            </div>

            <div class="form-group row user-data">
                <div class="input-group">
                    <div class="input-group-prepend col-8">
                   <span class="input-group-text">
                         <span class="fa fa-lock"></span>
                     </span>
                        <input type="password" th:field="*{password}" class="form-control form-control-lg"
                               th:classappend="${occurredPasswordException} ? 'error-red-bd'" id="inputPassword"
                               placeholder="Enter password" name="password" th:errorclass="error-red-bd">
                    </div>
                </div>
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></p>
            </div>

            <div class="form-group row user-data pb-4">
                <div class="input-group">
                    <div class="input-group-prepend col-8">
                   <span class="input-group-text">
                         <span class="fa fa-lock"></span>
                     </span>
                        <input type="password" th:field="*{matchingPassword}" class="form-control form-control-lg"
                               th:classappend="${occurredPasswordException} ? 'error-red-bd'" id="inputConfirmPassword"
                               placeholder="Enter password again" name="matchingPassword" th:errorclass="error-red-bd">
                    </div>
                </div>
                <p th:if="${#fields.hasErrors('matchingPassword')}" th:errors="*{matchingPassword}" class="error"></p>
            </div>

            <div class="form-group row reg-nav">
                <div class="col-auto">
                    <button type="submit" class="btn btn-success btn-lg">
                        <i class="fas fa-user-plus"></i>Register
                    </button>
                </div>
                <div class="col-auto">
                    <a th:href="@{/login}" class="btn btn-secondary btn-lg">
                        <i class="fas fa-chevron-left"></i> Back
                    </a>
                </div>
            </div>

        </form>
    </div>
</div>

</body>
</html>