body {
    background-color: #033001 !important;
    color: #fff !important;
    text-align: center !important;
    background: url("../img/pitch.jpg") center fixed;
    background-size: cover;
    height: 100vh;
}

.link-color {
    color: limegreen !important;
}

.img-sm {
    max-width: 15rem;
    max-height: 15rem;
}

.img-extra-sm {
    max-width: 10rem;
    max-height: 10rem;
}

.img-md {
    max-width: 20rem;
    max-height: 20rem;
}

.lg-txt {
    font-size: 1.3rem;
}

input {
    text-align: center;
    border: black;
}

select {
    text-align: center;
    text-align-last: center;
    -moz-text-align-last: center;
    width: 40% !important;
}

th {
    background-color: darkgray;
}


.tight-margin {
    margin-left: 10rem;
    margin-right: 10rem;
}

.table-r-separate {
    border-collapse: separate;
    border-spacing: 0 3rem;
}

@media only screen and (max-width: 1200px) {
    .table > tbody > tr > td,
    .table > tbody > tr > th,
    .table > tfoot > tr > td,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > thead > tr > th {
        display: block;
        min-width: 100% !important;
    }

    .table > thead > tr > th {
        display: none;
    }

    .table .filterBody span {
        display: block;
    }

    .table td, .table th {
        vertical-align: center !important;
    }
}

.table td, .table th {
    vertical-align: middle;
}

.error {
    margin-right: auto;
    margin-left: auto;
    color: red !important;

}

.error-red-bd {
    border-color: red !important;
}

.md-width {
    max-width: 75vh;
}

#home > h1 {
    font-size: calc(40px + .8vw);
    line-height: 1.2;
    font-weight: bold;
}

#home > h1 {
    font-size: calc(40px + .8vw);
    line-height: 1.2;
    font-weight: bold;
}

#home > h5 {
    font-size: calc(16px + .2vw);
}

.color-chart {
    color: chartreuse;
}

.text-danger {
    text-align: center;
}