<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="modelTemplates/head :: headCode"></th:block>
    <title>Home</title>
</head>

<body class="text-center text-white bg">

<th:block th:insert="modelTemplates/navbar :: navbarCode"></th:block>
<br><br><br><br><br><br><br><br>

    <h1 class="display-4 font-weight-bold">Welcome in <span style="color: chartreuse"> Football Database</span>!</h1>
    <h5>Click on navbar option to start searching information.</h5>

</body>
</html>